
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Ekle</h2>
<br />
<form method="post">
<label> Kategori adı:</label>
<input required type="text" class="form-control" name="ad" />
<button style="margin-top:20px;" class="btn btn-info"><i class="fas fa-check"></i> Ekle</button>
</form>